/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 [data-channel=desktop][data-layout-type=aside_panel] .UiAsideUserPanel .Button--collect .Title, [data-channel=desktop][data-layout-type=aside_panel] .UiAsideUserPanel .Button--place-bet .Title, [data-channel=desktop][data-layout-type=aside_panel] .UiAsideUserPanel .Button--startautoplay .Title, [data-channel=desktop][data-layout-type=aside_panel] .UiAsideUserPanel .Button--stopautoplay .Title {
  color: #fff; !important
font-size: 75px !important;
  margin-top: -150px;
}

.BetAmountPanel .Input--bet-amount {
  font-size: 3:rem;
}

/* aviator */
/* top bar title */




.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
